node_modules/
dist/
build/icon.ico
build/*.pfx
*.log
.DS_Store
.vs/
out/
bin/
obj/

*.exe
app.zip
bot.js
bot2.js
bot3.js
bot-dashboard/
bot-dashboard.zip
package-lock.json
.env
vds-backend/

# Gereksiz dosyalar
temp_extract/
temp_extract2/
yedek_launcher/
__og_client_ref/
vercel-backend/
vexaclient.com/
vexaclient.com.zip
launcher.zip
vexalauncher.html
recovered_renderer.js
replayed_renderer.js
renderer_reconstructed.js
renderer_recovery.txt
sample.jsonl
fix.js
split.js
best_view.txt
frontend-old/
temp_github_site/
vexa-client.github.io/
vexa-client.github.io.zip
vexa_backend.zip
vexa_website.zip
index.nginx-debian.html
frontend/.next/
frontend/